Source: kbluetooth
Section: net
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Michael Meskes <meskes@debian.org>, Achim Bohnet <ach@mpe.mpg.de>,
 Mark Purcell <msp@debian.org>, Fathi Boudra <fabo@debian.org>,
 Didier Raboud <didier@raboud.com>
Build-Depends: debhelper (>= 7.4.15), cmake, pkg-kde-tools (>= 0.6.5),
 kdelibs5-dev (>= 4:4.3.73), kdebase-workspace-dev (>= 4:4.2.96),
 shared-desktop-ontologies
Standards-Version: 3.8.4
Homepage: http://kde-apps.org/content/show.php/kbluetooth?content=112110
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/kdebluetooth4.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/kdebluetooth4.git

Package: kbluetooth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 bluez, obex-data-server, python-qt4-dbus, python-qt4
Recommends: bluez-alsa, bluez-cups
Suggests: python
Description: KDE Bluetooth Framework
 The KDE Bluetooth Framework is a set of tools built on top of Linux' Bluetooth
 stack BlueZ. It provides easy access to the most common Bluetooth profiles and
 makes data exchange with Bluetooth devices like phones and PDAs as
 straightforward as possible.

Package: kdebluetooth
Architecture: all
Depends: ${misc:Depends}, kbluetooth
Description: dummy transition package for kdebluetooth to kbluetooth
 This is a dummy package to help on the transition from kdebluetooth to
 kbluetooth.
 .
 It can also be removed from the Debian package once squeeze is released.
