#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/makefiles/1/cdbs/kde.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

install/kdebluetooth::
	dh_installdirs usr/share/autostart usr/bin
	install -m 0755 debian/kblueplugd \
		 $(CURDIR)/debian/kdebluetooth/usr/bin/
	install -m 0644 debian/kblueplugd.desktop \
		 $(CURDIR)/debian/kdebluetooth/usr/share/autostart/
